/* document body fills the entire viewport */
html, body { height: 100%; }

/* document body is a single flex column */
body {
  display: flex;
  flex-flow: column nowrap;
}

/* main element grows to fill vertical space*/
body > main {
  flex-grow: 1;
}

/* page item container width and alignment */
body > header > .container,
body > main   > .container,
body > footer > .container {
  padding: 1em;
  width: 80ch;
  margin: auto;
}

ul#device-types {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
}

#device-types > li {
  width: 48%;
  border: 1px solid var(--secondary-background-color);
  margin: 0.1em;
  position: relative;
}

#device-types > li input[type="radio"] {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  appearance: none;
  outline-offset: 2px;
}
#device-types > li input[type="radio"] + label {
  display: block;
  width: 100%;
  height: 100%;
  padding: .2em .4em;
}

#device-types > li input:checked + label {
  color: var(--secondary-text-color);
  background: var(--selected-background-color);
}