/* document body fills the entire viewport */
html, body { height: 100%; }

/* document body is a single flex column */
body {
  display: flex;
  flex-flow: column nowrap;
}

/* main element grows to fill vertical space*/
body > main {
  flex-grow: 1;
}

/* page item container width and alignment */
body > header > .container,
body > main   > .container,
body > footer > .container {
  padding: 1em;
  width: 100ch;
  margin: auto;
}

fieldset {
    margin: 1em 0;
}

p {
  margin: 1rem 0;
}

#keyword-search input[type="submit"] {
  width: 20%;
}

#keyword-search input[name="keywords"] {
  width: 60%;
  padding: 0.5rem;
}

/* display device type form options as a flex row */
#device-types {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
}

/* */
#device-types > li {
  width: 48%;
  border: 1px solid var(--secondary-background-color);
  margin: 0.1em;
  position: relative;
}

/* hide default radio button */
#device-types > li input[type="radio"] {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  appearance: none;
  outline-offset: 2px;
}

/* make the label a block element */
#device-types > li input[type="radio"] + label {
  display: block;
  width: 100%;
  height: 100%;
  padding: .2em .4em;
}

/* change color when checked */
#device-types > li input:checked + label {
  color: var(--secondary-text-color);
  background: var(--selected-background-color);
}

#feature-search input[type="submit"] {
  display: block;
  font-size: larger;
  width: 80%;
  margin: 0 auto;
}

.breadcrumbs {
  display: flex;
  flex-flow: row nowrap;
  margin: 1em 0;
}
.breadcrumbs li:not(:last-child):after {
  content: "\00BB";
}

.breadcrumbs li:after {
  padding: 0.3em;
}


#search-results > ul {
  display: flex;
  flex-flow: row wrap;
}

#search-results > ul > li {
  display: flex;
  flex-flow: row wrap;
  width: 200px;
  text-align: center;
}
















